body {
  background-color: black;
}
.img {
  width: 50%;
}
img {
  width: 100%;
  border: 5px solid white;
  margin-left: 50%;
  margin-top: 70px;
}
h1 {
  color: white;
  text-align: center;
  font-size: 3.5rem;
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
}
p {
  color: white;
  font-size: 20px;
}
.para {
  text-align: center;
}
